<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Asul" rel="stylesheet">
  <!--Import bootstrap css-->
  <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
  <!-- main.css-->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title></title>
  </head>
  <body class=" all bg-body flex">
    <div class="user-box">
      <p id="user" class="text-center color-white mg-top"></p>
      <p id="headline" class="text-center"></p>
      <p class="text-center"><a id="url" target="_blank" href="">Ir al perfil completo</a></p>
      <center><button id="btn" class="btn bg-green" type="" name="button">salir</button></center>
    </div>


  <script type="in/Login"></script>
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key: 77sznw4i747tqb
      authorize: true
      // onLoad: onLinkedInLoad
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../js/app2.js"></script>
  </body>
</html>
